{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid" style="background-image: url(/static/picture/comment1.jpg); background-size:100% 100%">
        <div class="container" style="margin-top: 220px; margin-bottom: 250px; background-color: #5e5e5e8f">
            <h1 class="text-center" style="color: white">欢迎加入我们团队</h1>
            <h4 class="text-center" style="color: white">技能需求：网站前端，后端，javascript, 微信公众号，文案，美工、页面图案设计, 外关、推广</h4>
            <h4 class="text-center" style="color: white">以上技能，了解一二即可，只要你对我们项目感兴趣，我们都欢迎您的加入</h4>
            <h1 class="text-center" style="color: white">请加QQ：282367004咨询</h1>
        </div>
    </div>

{% endblock content %}