{% extends 'base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <h2>校园网共享使用教程</h2>
            <h4>刚到新的校区，第一件要做的是莫过于给宿舍办个宽带了吧，但是学校只有200多一学期的校园网可以用，而且是一个人一个账号，宿舍舍友之间无法公用一个账号。作为学生，实在有点贵。</h4>
            <h4>在制度无法改变的前提下，只有靠技术手段来实现突破了</h4>
            <h2>目标：一个宿舍在拥有一个上网账号的前提下，实现多人通过路由器共享一个账号的网络。</h2>
            <h2>所需设备：一个普通路由器，一个iXAUT-Stu 的上网账号。</h2>
            <h2>正式操作步骤：</h2>
            <h4>1. 将路由器通电，开机。</h4>
            <h4>2. 将路由器的Wan 口和校园网的有线接口连接。</h4>
            <h4>3. 电脑连接路由器的wifi</h4>
            <h4>4. 在电脑上打开浏览器，并打开路由器的管理页面，例如：192.168.1.1</h4>
            <img src="/static/picture/net1.png" style="height: 85%; width: 85%">
            <h4>5. 进入路由器Internet设置</h4>
            <img src="/static/picture/net2.png" style="height: 85%; width: 85%">
            <h4>6. 选择通过动态分配 IP 或 静态配置 IP 上网 </h4>
            <h4>7. 选择MAC地址克隆选项，并填写自己电脑的无线网卡的MAC地址(请自行百度如何查无线网卡MAC地址)，填写好后保存即可</h4>
            <img src="/static/picture/net3.png" style="height: 85%; width: 85%">
            <h4>8. 电脑连接配置好的路由器的wifi,然后打开浏览器，在弹出的页面登陆上网账号即可。</h4>
            <h3>大功告成！ 现在宿舍所有的人都可以连接宿舍的路由器来上网了！</h3>
            <h5>更多技术细节，请在本网站留言墙留言讨论。</h5>
        </div>
    </div>


{% endblock content %}