{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid" style="background-color: #29292a; background-size:100% 100%">
        <br>
        <br>
        <div class="container">
            <div class="heading" style="margin-bottom: -19px">
                <img src="../static/picture/4.gif" height="45px">
                <header class="text-uppercase text-center" style="font-weight: bolder; font-size: 27px; color: #09a0ba">任务标题：{{ AboutOrder.Title }}</header>
                <header class="text-uppercase" style="font-weight: bolder; font-size: 27px; color: #09a0ba">任务订单详情</header>

            </div>
            <hr>
            <div>

                <div class="comment-post well" style="background-color: #f5f5f5">


                    <div>
                        <table class="table table-striped table-bordered">
                            <caption></caption>
                            <thead>
                            <tr>
                                <th>用户名</th>
                                <th>电话</th>
                                <th>邮箱</th>
                                <th>下单时间</th>
                                <th>订单截止时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ AboutOrder.User.Username }}</td>
                                <td>{{ AboutOrder.User.Tel_Number }}</td>
                                <td>{{ AboutOrder.User.Email }}</td>
                                <td>{{ AboutOrder.Order_Date }}</td>
                                <td>{{ AboutOrder.Dead_Date }}</td>
                            </tr>

                            </tbody>


                        </table>
                    </div>

                    <hr size=3 style=" border-color: #000000; border-style:dotted;width:490">

                    <div>
                        <h3>订单描述:</h3>
                        <h4 style="margin-left: 90px">{{ AboutOrder.Details }}</h4>
                        {% if AboutOrder.Picture_Name is not none %}
                            <img src="/static/Upload_File/{{ AboutOrder.Picture_Name }}" style="width: 50%; height: 50%">
                        {% endif %}

                    </div>


                    <hr size=3 style=" border-color: #000000; border-style:dotted;width:490">

                    {% if AboutOrder.Finish  == 0 %}
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <a href="/orderwall/{{ AboutOrder.Id }}/confirm"><button type="button" class="btn btn-primary " style="width:100%; height:68px; font-size: 40px;">我要接单</button></a>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>



{% endblock %}